<button class="sort-button btn btn-link" (click)="farcService.sortalpha = !farcService.sortalpha"
        title="{{farcService.sortalpha ? 'Nach Größe sortieren' : 'Nach Name sortieren'}}">
  <i [ngClass]="farcService.sortalpha ? ['fa', 'fa-sort-numeric-desc'] : ['fa', 'fa-sort-alpha-asc'] "></i>
</button>

<p-tree [value]="farcService.tree"
        (onNodeExpand)="farcService.fetchNode($event.node)"
        (onNodeSelect)="farcService.nodeClick($event)"
        selectionMode="single"
        [(selection)]="farcService.selectedNode"
        #farctree >
  <ng-template let-node pTemplate="strukt">
    <span [class.archivenode]="node.arc" >{{node.label}} ({{node.size | filesize}})</span>
  </ng-template>
  <ng-template let-node pTemplate="ep">
    <span [class.archivenode]="node.arc" >{{node.label}} ({{node.size | filesize}})</span>
  </ng-template>
  <ng-template let-node pTemplate="dir">
    <span [class.archivenode]="node.arc" >{{node.label}} ({{node.size | filesize}})</span>
  </ng-template>
  <ng-template let-node pTemplate="wait">
    <span [class.archivenode]="node.arc" ><i class="fa fa-spinner fa-spin"></i></span>
  </ng-template>
</p-tree>

