
/* tree an container anpassen */
:host /deep/ .ui-tree {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.treebuttons {
  justify-content: space-between;
  height: 40px;
  background-color: var(--treeheader-background);
  padding-left: 2px;
  align-items: center;
}

/* Sort-Buttons im Tree */
.sort {
  padding-top: 0.8em;
  padding-right: 2px;
}
/* p-selectButtonS verkleinern */
:host >>> .ui-selectbutton .ui-button {
  font-size: 0.8em;
}

:host >>> .ui-selectbutton .ui-button.ui-button-text-icon-left .ui-button-text {
  padding-top: 0.129em;
  padding-bottom: 0.129em;
}

/* Baum-Knoten Archiv */
.archivenode {
  /*color: var(--danger);*/
}
:host >>> .ui-state-highlight .archivenode {
  /*color: white;*/
  /*background-color: var(--primary);*/
}

/* table bei loading herunterdimmen */
:host >>> .ui-table-loading {
  opacity: .3;
}

.node-strukt {
  opacity: .7;
}
.node-ep {
  opacity: .7;
}
