<div class="flex-row treebuttons">
  <div>
    <button pButton type="button" label="Original" (click)="farcService.onSwitchTree(false)"
            [class.ui-button-secondary]="farcService.isArcTree"
            [class.text-success]="farcService.isArcTree"
            [class.ui-button-success]="!farcService.isArcTree"
            [class.orig-button-active]="!farcService.isArcTree"
            class="orig-arc-button mr-1"
            pTooltip="Original-Laufwerke per {{configService.lastReadDate}}"
            tooltipPosition="right"></button>
    <button pButton type="button" label="Archiv" (click)="farcService.onSwitchTree(true)"
            [class.ui-button-secondary]="!farcService.isArcTree"
            [class.text-danger]="!farcService.isArcTree"
            [class.ui-button-danger]="farcService.isArcTree"
            [class.arc-button-active]="farcService.isArcTree"
            class="orig-arc-button"
            pTooltip="Archiv-Laufwerke per {{configService.lastReadDate}}"
            tooltipPosition="right"></button>
  </div>
  <div class="sort">
    <p-selectButton [options]="farcService.sortButtons" [(ngModel)]="farcService.sortalpha"
                    title="Sortieren nach Name oder Größe" ></p-selectButton>
  </div>
</div>

<p-tree [value]="farcService.tree"
        (onNodeExpand)="farcService.nodeClick($event, false)"
        (onNodeSelect)="farcService.nodeClick($event, true)"
        selectionMode="single"
        [(selection)]="farcService.selectedNode"
        class="flex-panel flex-content-fix"
        [class.orig-border]="!farcService.isArcTree"
        [class.arc-border]="farcService.isArcTree"
        id="farctree"
        #farctree >
  <ng-template let-node pTemplate="strukt">
    <span [class.archivenode]="node.arc" class="node-strukt">{{node.label}} ({{node.size | filesize}})</span>
  </ng-template>
  <ng-template let-node pTemplate="ep">
    <span [class.archivenode]="node.arc" class="node-ep" >{{node.label}} ({{node.size | filesize}})</span>
  </ng-template>
  <ng-template let-node pTemplate="dir">
    <span [class.archivenode]="node.arc" >{{node.label}} ({{node.size | filesize}})</span>
  </ng-template>
  <ng-template let-node pTemplate="wait">
    <span [class.archivenode]="node.arc" ><i class="fa fa-spinner fa-spin"></i></span>
  </ng-template>
</p-tree>
