
/* tree an container anpassen */
:host /deep/ .ui-tree {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.treebuttons {
  justify-content: space-between;
  height: 50px;
  min-height: 50px;
  background-color: var(--treeheader-background);
  padding-left: 6px;
  padding-top: 12px;
}
.orig-arc-button {
  width: 84px;
}
/* die beiden folgenden Klassen muessen so spezifisch sein,
   weil '!important' nicht mit var() funktioniert
   (zumnindest bei Angular AOT)
 */
:host ::ng-deep .ui-state-default.ui-button-success.orig-button-active {
  border-bottom: 10px solid var(--original-color);
  border-top: 1px solid var(--light);
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}
:host ::ng-deep .ui-state-default.ui-button-danger.arc-button-active {
  border-bottom: 10px solid var(--archive-color);
  border-top: 1px solid var(--light);
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}
.orig-border {
  border-top: 3px solid var(--original-color);
  border-left: 3px solid var(--original-color);
  border-bottom: 3px solid var(--original-color);
}
.arc-border {
  border-top: 3px solid var(--archive-color);
  border-left: 3px solid var(--archive-color);
  border-bottom: 3px solid var(--archive-color);
}

:host ::ng-deep .ui-button.ui-state-default.ui-button-danger {
  background-color: var(--archive-color);
}

/* Sort-Buttons im Tree */
.sort {
  padding-top: 0.8em;
  padding-right: 6px;
}
/* p-selectButtonS verkleinern */
:host >>> .ui-selectbutton .ui-button {
  font-size: 0.8em;
}

:host >>> .ui-selectbutton .ui-button.ui-button-text-icon-left .ui-button-text {
  padding-top: 0.129em;
  padding-bottom: 0.129em;
}

/* Baum-Knoten Archiv */
.archivenode {
  /*color: var(--danger);*/
}
:host >>> .ui-state-highlight .archivenode {
  /*color: white;*/
  /*background-color: var(--primary);*/
}

/* table bei loading herunterdimmen */
:host >>> .ui-table-loading {
  opacity: .3;
}

.node-strukt {
  opacity: .7;
}
.node-ep {
  opacity: .7;
}
