.menupanel {
  justify-content: space-between;
  padding: 6px;
  background-color: var(--light-gray-background);
}

:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  margin-right: 6px;
  background-color: white;
}

:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active:nth-child(1) {
  background-color: var(--listheader-background);
  border-color: var(--panel-border-color);
}
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active:nth-child(2) {
  background-color: var(--treeheader-background);
  border-color: var(--panel-border-color);
}
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active:nth-child(3) {
  background-color: var(--vormheader-background);
  border-color: var(--panel-border-color);
}

.wn-list {
  margin-bottom: 5px;
}

/* wg. iframe */
:host >>> .ui-dialog .ui-dialog-content {
  height: 100%;
}

.footer-link {
  float: left;
  font-size: small;
  margin-top: 10px;
}
.commit {
  position: absolute;
  bottom: 0;
  right: 16px;
  font-size: xx-small;
}

.help-btn {
  padding-bottom: 12px;
}
