<div class="filelist-navbar">
  <span class="filelist-navbar-text">Ausgewählte Zeilen: </span>
  <!--<div *ngIf="farcService.selectedNode && farcService.selectedNode.type !== 'strukt' && farcService.selectedFiles.length > 0"-->
       <!--class=" button-height">-->
    <button class="btn btn-sm btn-warning file-button" [class.disabled]="!farcService.selectedFiles.length"
            (click)="farcService.moveSelected()"
            title="{{farcService.isArcTree ? 'Auswahl aus dem Archiv zurückkopieren'
                                           : 'Auswahl ins Archiv verschieben'}}">
      <i class="fa fa-plus"></i> {{farcService.isArcTree ? "Zurücksichern" : "Archivieren"}}
    </button>
    <button class="btn btn-sm btn-warning file-button" [class.disabled]="!farcService.selectedFiles.length"
            (click)="farcService.delSelected()"
            title="Ausgewählte Dateien und Verzeichnisse fürs Löschen vormerken">
      <i class="fa fa-trash"></i> Löschen
    </button>
    <button class="btn btn-sm btn-warning file-button" *ngIf="farcService.vormerkInSelected()"
            (click)="farcService.undoSelection()"
            title="Vorhandene Vormerkungen für die ausgewählten Dateien und Verzeichnisse entfernen">
      <i class="fa fa-times-circle"></i> Vormerkung entfernen
    </button>
  <!--</div>-->

</div>

<div class="card"
     [class.header-orig]="!farcService.isArcTree"
     [class.header-arc]="farcService.isArcTree">
  <div class="card-body bg-light200" >
    <p-breadcrumb [model]="farcService.breadcrumbs"></p-breadcrumb>
  </div>
</div>

<!-- damit Scrolling fkt. muss dataTable mit div umgeben werden -->
<div id="filelisttable" class="flex-panel flex-content-fix"
     [class.list-orig]="!farcService.isArcTree"
     [class.list-arc]="farcService.isArcTree">

  <p-table #filetable
           [value]="farcService.virtualfiles"
           [scrollable]="true"
           scrollHeight="100%"
           [(selection)]="farcService.selectedFiles"
           (onHeaderCheckboxToggle)="farcService.selectAll($event)"
           [loading]="farcService.loading"
           loadingIcon="fa fa-cog fa-spin"
           [rowTrackBy]="farcService.rowTrackBy"
           dataKey="entryid"
           [customSort]="true"
           (sortFunction)="farcService.onSort($event)"
           [sortField]="farcService.sortField"
           [sortOrder]="farcService.sortOrder"
           [virtualScroll]="true"
           [virtualScrollDelay]="farcService.virtualScrollDelay"
           (onLazyLoad)="farcService.loadFilesOnScroll($event)"
           [lazy]="true"
           [totalRecords]="farcService.totalRows"
           [virtualRowHeight]="38"
           [rows]="farcService.lazyRows"
  >
    <!--<ng-template pTemplate="caption">-->

    <!--</ng-template>-->
    <ng-template pTemplate="emptymessage">
      Keine Dateien gefunden.
    </ng-template>
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col style="width: 38px">
        <col>
        <col style="width: 100px">
        <col style="width: 180px">
        <col style="width: 180px">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th>
          <p-tableHeaderCheckbox *ngIf="farcService.isNodeSelectable()"></p-tableHeaderCheckbox>
        </th>
        <th [pSortableColumn]="'label'">
          Name
          <p-sortIcon [field]="'label'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'size'" class="center-align">
          Belegt
          <p-sortIcon [field]="'size'"></p-sortIcon>
        </th>
        <th [pSortableColumn]="'timestamp'" class="center-align">
          Datum
          <p-sortIcon [field]="'timestamp'"></p-sortIcon>
        </th>
        <th>Vorgemerkt für</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
      <tr [pSelectableRow]="rowData" style="height:38px">
        <td>
          <p-tableCheckbox *ngIf="farcService.isNodeSelectable()" [value]="rowData"></p-tableCheckbox>
        </td>
        <td>
            <div *ngIf="rowData.type === 'file';then fileRow else dirRow"></div>
            <ng-template #fileRow>
              <div title="{{farcService.fullPath(rowData)}}" [class.archivenode]="rowData.arc">
                <i class="fa fa-file-o fa-fw"></i> {{rowData.label}}
              </div>
            </ng-template>
            <ng-template #dirRow >
              <div><a class="btn link" (click)="farcService.expandTo(rowData.path)" title="{{farcService.fullPath(rowData)}}" tabindex="{{10000 + rowIndex}}">
                <i class="fa fa-folder-open fa-fw"></i> {{rowData.label}}
              </a></div>
            </ng-template>
        </td>
        <td class="right-align">{{rowData.size | filesize }}</td>
        <td class="right-align">{{rowData.timestamp | date:'medium' }}</td>
        <td class="right-align">
            <mark *ngIf="rowData.selected > 0" class="select-mark"
                  title="Für kommende Nacht vorgemerkt. Veranlasst von {{rowData.selectUid}} - {{rowData.selectDate | date:'medium'}}"
                  [class.inheritselect]="!farcService.isNodeSelectable()">
              {{rowData.selected | vormerk }}
              <button *ngIf="farcService.isNodeSelectable()"
                      class="btn btn-link text-success iconbtn"
                      (click)="farcService.execVormerk(rowData)"
                      title="Vormerkung sofort ausführen">
                <i class="fa fa-play"></i>
              </button>
              <button *ngIf="farcService.isNodeSelectable()"
                      class="btn btn-link text-danger iconbtn"
                      (click)="farcService.undoSelectionFor(rowData)"
                      title="Vormerkung entfernen">
                <i class="fa fa-times"></i>
              </button>
            </mark>
          <!--<span class="line-menu"><i class="fa fa-ellipsis-v"></i></span>-->
        </td>
      </tr>
    </ng-template>
    <!--<ng-template pTemplate="summary">-->
    <!--</ng-template>-->
  </p-table>
</div>

<div class="filelist-status small bg-light200"
     [class.footer-orig]="!farcService.isArcTree"
     [class.footer-arc]="farcService.isArcTree">
<div class="sum-line full-sum"> {{farcService.files | filesSum:"all"}} </div>
    <div class="sum-line ui-state-highlight select-sum" *ngIf="farcService.selectedFiles.length" > {{farcService.selectedFiles | filesSum:"sum" }} ausgewählt </div>
    <mark *ngIf="farcService.isVormerk()" class="sum-line todo-sum"> {{farcService.vormerkList() | filesSum:"sum"}} vorgemerkt </mark>
</div>
