<p-breadcrumb class="flex-panel flex-content-fix"
              [style.min-height]="bcHeight" [style.height]="bcHeight" [style.max-height]="bcHeight"
              [model]="farcService.breadcrumbs"
>
</p-breadcrumb>
<!-- damit Scrolling fkt. muss dataTable mit div umgeben werden -->
<div class="flex-panel flex-content-fix" style="height: 100%; max-height: 100%;">

  <p-dataTable [value]="farcService.files" [(selection)]="farcService.selectedFiles"
               scrollable="true" scrollHeight="100%" [loading]="farcService.loading" [dataKey]="'entryid'"
               [rowTrackBy]="farcService.rowTrackBy"
               emptyMessage="Keine Dateien gefunden."
               (onFilter)="farcService.onFilter($event)" filterDelay="400" >
               <!-- als electron-app koennte es ohne virt. scroll. klappen -->
               <!--[headerCheckboxToggleAllPages]="true"-->
               <!--[rows]="farcService.lazyRows" [totalRecords]="farcService.totalRows" [virtualScroll]="true"-->

    <p-column *ngIf="farcService.selectedNode && farcService.selectedNode.type !== 'strukt'"
              [style]="{'width':'38px'}" [selectionMode]="farcService.selectedNode.selected ? '' : 'multiple'"
              >
    </p-column>
    <p-column field="label" header="Name"
              [filter]="true" filterMatchMode="contains" filterPlaceholder="Filtern: Teil des Namens eingeben"
              sortable="custom" (sortFunction)="farcService.sort($event)">
      <ng-template pTemplate="body" let-col let-row="rowData">
        <div *ngIf="row.type === 'file';then fileRow else dirRow"></div>
        <ng-template #fileRow>
          <div title="{{row[col.field]}}">{{row[col.field]}}</div>
        </ng-template>
        <ng-template #dirRow >
          <a class="btn" (click)="farcService.expandTo(row.path)" title="{{row[col.field]}}">
            <i class="fa fa-folder-open-o" style="color: goldenrod"></i> {{row[col.field]}}
          </a>
        </ng-template>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'180px'}" field="timestamp" header="Zeit"
              sortable="custom" (sortFunction)="farcService.sort($event)">
      <ng-template pTemplate="body" let-col let-row="rowData">
        <div class="right-align">{{row[col.field] | iedate }}</div>
      </ng-template>
    </p-column>
    <p-column [style]="{'width':'100px'}" field="size" header="Größe"
              sortable="custom" (sortFunction)="farcService.sort($event)">
      <ng-template pTemplate="body" let-col let-row="rowData">
        <div class="right-align">{{row[col.field] | filesize }}</div>
      </ng-template>
    </p-column>
    <p-column *ngIf="farcService.selectedNode && farcService.selectedNode.type !== 'strukt'"
              [style]="{'width':'150px'}" field="selected" header="Vormerkung">
      <ng-template pTemplate="body" let-col let-row="rowData">
        <div *ngIf="row.selected > 0" class="right-align">
          <mark title="{{row.selectUid}} - {{row.selectDate | iedate}}">{{row[col.field] | vormerk }}</mark>
          <button *ngIf="!farcService.selectedNode.selected"
                  class="btn btn-xs btn-link text-danger"
                  (click)="farcService.undoSelectionFor(row)"
                  title="Vormerkung entfernen">
            <i class="fa fa-times-circle"></i>
          </button>

        </div>
      </ng-template>
    </p-column>
  </p-dataTable>

</div>

<p-toolbar class="flex-panel flex-content-fix"
           [style.min-height]="tbHeight" [style.height]="tbHeight"
>
  <div *ngIf="farcService.selectedNode && farcService.selectedNode.type !== 'strukt' && farcService.selectedFiles.length > 0"
       class="ui-toolbar-group-left button-height">
    <button class="btn btn-xs btn-warning"
            (click)="farcService.moveSelected()"
            title="{{farcService.selectedNode.arc ? 'Auswahl aus dem Archiv zurückkopieren'
                                                  : 'Auswahl ins Archiv verschieben'}}">
      <i class="fa fa-plus"></i> {{farcService.selectedNode.arc ? "Zurücksichern" : "Archivieren"}}
    </button>
    <button class="btn btn-xs btn-warning"
            (click)="farcService.delSelected()"
            title="Ausgewählte Dateien und Verzeichnisse fürs Löschen vormerken">
      <i class="fa fa-trash"></i> Löschen
    </button>
    <button class="btn btn-xs btn-warning" [class.disabled]="!farcService.vormerkInSelected()"
            (click)="farcService.undoSelection()"
            title="Vorhandene Vormerkungen für die ausgewählten Dateien und Verzeichnisse entfernen">
      <i class="fa fa-times-circle"></i> Vormerkung entfernen
    </button>
  </div>
  <div  class="small sum-panel">
    <div class="sum-line full-sum"> {{(farcService.filteredFiles ? farcService.filteredFiles : farcService.files) | filesSum:"all"}} </div> <br/>
    <div class="sum-line" >
      <span *ngIf="farcService.selectedFiles.length" class="ui-state-highlight select-sum" > {{farcService.selectedFiles | filesSum:"sum" }} ausgewählt </span>
      <span *ngIf="farcService.isVormerk()" class="bg-warning todo-sum"> {{farcService.vormerkList() | filesSum:"sum"}} vorgemerkt </span>
    </div>
  </div>
</p-toolbar>
