.filelist-navbar {
  height: 50px;
  min-height: 50px;
  background-color: var(--treeheader-background);
  display: flex;
  flex-wrap: nowrap;
  padding: 0.5rem 1rem;
  align-items: center;
}
.filelist-navbar-text {
  color: var(--light);
  padding-right: 1em;
}
.btn-warning.disabled {
  color: var(--light);
  background-color: var(--treeheader-background);
  border-color: var(--light);
}
.file-button {
  height: 25px;
  margin-top: 2px;
}

.filelist-status {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 6px;
}

.header-orig {
  border-radius: 0;
  border-bottom: 0;
  border-top: 3px solid var(--original-color);
  border-right: 3px solid var(--original-color);
}
.header-arc {
  border-radius: 0;
  border-top: 3px solid var(--archive-color);
  border-right: 3px solid var(--archive-color);
}
.list-orig {
  border-right: 3px solid var(--original-color);
}
.list-arc {
  border-right: 3px solid var(--archive-color);
}
.footer-orig {
  border-right: 3px solid var(--original-color);
  border-bottom: 3px solid var(--original-color);
}
.footer-arc {
  border-right: 3px solid var(--archive-color);
  border-bottom: 3px solid var(--archive-color);
}

/** breadcrumb **/
/* zu langen Pfad nicht umbrechen */
:host {
  white-space: nowrap;
}

:host >>> .card {
  min-height: 33px;
}
:host >>> .card-body {
  padding: 0.3rem 0.3rem;
}

/* Linksbuendig und trotzdem overflow left:
   aeusserer DIV: max-width: 100%; display: inline-block
   innerer DIV: float: left
   + ggf. white-space: nowrap oder flex-wrap: nowrap */
:host >>> p-breadcrumb {
  max-width: 100%;
  display: inline-block;
}
:host >>> .ui-breadcrumb {
  float: right;
  padding: 0.2em 0.5em;
}
:host >>> .ui-breadcrumb ul li.ui-breadcrumb-chevron {
  font-size: 0.8em !important;
  margin: 0 0.2em;
}
:host >>> .ui-breadcrumb ul li .ui-menuitem-text {
  color: var(--link-color);
}
:host >>> .ui-breadcrumb ul li .ui-menuitem-text:hover {
  color: var(--link-hover-color);
}

/** scrolling -> z.Zt. global gesetzt
:host >>> .ui-datatable-scrollable-view {
  display: flex;
  flex-direction: column;
}
:host >>> .ui-datatable-scrollable-body {
  flex: 1 1 0;
}
*/

#filelisttable {
  height: 100%;
  max-height: 100%;
}

/** list footer **/

/* in Kombination mit float:right bewirken overflow:hidden + white-space:nowrap,
   das *links* abgeschnitten wird */
.sum-panel {
  overflow: hidden;
  white-space: nowrap;
}
.sum-line {
  float: left;
  height: 15px;
}
.full-sum {
  padding: 0 10px;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 2px;
}
.select-sum {
  padding: 1px 10px;
  background-color: var(--highlight-color);
  color: white;
  border-radius: 3px;
  margin-left: 5px;
}
.todo-sum {
  margin-left: 5px;
  padding: 1px 10px;
  border-radius: 3px;
}

/* links ohne extra Abstand */
:host >>> a.btn {
  padding: 0;
}

:host >>> a {
  text-decoration: none;
}

/*:host >>> tr.ui-state-highlight  {*/
  /*background: var(--primary) !important;*/
  /*!* background: #0275d8 !important; *!*/
/*}*/

/* datatable Farbe f. selected links */
:host >>> .ui-state-highlight a.btn {
color: white !important;
}
:host >>> .ui-state-highlight a.btn:hover {
color: var(--gray-dark) !important;
}
:host >>> .ui-state-highlight i  {
  color: inherit !important;
}

/* sort header color - default ist zu aufdringlich */
:host >>> th.ui-sortable-column.ui-state-highlight {
  background-color: var(--gray-background);
}

:host >>> .ui-state-highlight button.iconbtn > i.fa {
  color: inherit;
}

/* padding in datatable reduzieren (default 0.75em -> 10.8px) */
:host >>> .ui-datatable .ui-datatable-data > tr > td {
  padding: 0.5em 0.5em;
}

.select-mark {
  font-style: italic;
}
/* vererbte Vormerkung */
.inheritselect {
  opacity: .75;
}

/* Entry-Menu */
.line-menu {
  float: right;;
  margin-left: 1em;
}

:host ::ng-deep .ui-contextmenu-selected .link {
  color: white;
}
:host ::ng-deep .ui-contextmenu {
  position: fixed;
}
