:host ::ng-deep .ui-toolbar {
  background-color: var(--vormheader-background);
  border: 0;
}

/* sort header color - default ist zu aufdringlich */
:host >>> th.ui-sortable-column.ui-state-highlight {
  background-color: var(--gray-background);
}

/* overlay-panel fur feste Groesse und overflow anpassen. */

:host >>> .ui-overlaypanel,
:host >>> .ui-overlaypanel-content {
  max-height: 500px;
  width: 750px;
}
/* overflow auf content, sonst wird der Schliessen-Button abgeschnitten */
:host >>> .ui-overlaypanel-content {
  overflow: auto;
}
pre {
  overflow: initial;
  margin-bottom: 0;
}
/* Icon am Ende das overlay panel klappt nicht bei fester Groesse -> ausblenden */
:host >>> .ui-overlaypanel.ui-overlaypanel-flipped:before,
:host >>> .ui-overlaypanel.ui-overlaypanel-flipped:after {
  display: none;
}

.select-mark {
  font-style: italic;
}

/** list footer **/
.filelist-status {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 6px;
}
.sum-panel {
  overflow: hidden;
  white-space: nowrap;
}
.sum-line {
  float: left;
  height: 17px;
}
.full-sum {
  padding: 1px 10px;
  background-color: white;
  border-radius: 3px;
}
