<div class="flex-col" >

  <p-toolbar class="flex-panel flex-content-fix vorm-header"
             [style.min-height]="tbHeight" [style.height]="tbHeight">
    <p-selectButton [options]="selectButtons" [(ngModel)]="selectService.selectTable"></p-selectButton>
  </p-toolbar>

  <div id="selectlisttable" class="flex-panel flex-content-fix" [style.width]="centerPaneWidth" [style.min-width]="centerPaneMinWidth" style="height: 100%; max-height: 100%;">

    <p-table *ngIf="selectService.tablestat"
             [value]="selectService.selectlist"
             [scrollable]="true"
             scrollHeight="100%"
             [(selection)]="selectService.selectedFiles"
             [rowTrackBy]="selectService.rowTrackBy"
             dataKey="_id"
             [customSort]="true"
             (sortFunction)="selectService.sort($event)"
             [sortField]="selectService.sortField"
             [sortOrder]="selectService.sortOrder"
             [loading]="selectService.loading"
    >

      <!--<ng-template pTemplate="caption">-->
      <!--</ng-template>-->
      <ng-template pTemplate="emptymessage">
        Keine Dateien gefunden.
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col>
          <col *ngIf="selectService.userSession.isAdmin()" style="width: 170px">
          <col style="width: 170px">
          <col style="width: 180px">
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [pSortableColumn]="'label'">
            Name
            <p-sortIcon [field]="'label'"></p-sortIcon>
          </th>
          <th *ngIf="selectService.userSession.isAdmin()" [pSortableColumn]="'selectUid'">
            Vorgemerkt von
            <p-sortIcon [field]="'selectUid'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'selectDate'" class="center-align">
            Auswahl-Datum
            <p-sortIcon [field]="'selectDate'"></p-sortIcon>
          </th>
          <th class="right-align">
            Vormerkung
            <button type="button" pButton (click)="selectService.deleteAll()" icon="fa fa-trash" class="minibtn ml-2 ui-button-warning"
                    title="Alle Vormerkungen löschen" ></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td>
              <div title="{{farcService.fullPath(rowData)}}">
                <i *ngIf="rowData.type !== 'file'" class="fa fa-folder-open fa-fw"></i>
                <i *ngIf="rowData.type === 'file'" class="fa fa-file-o fa-fw"></i> {{farcService.fullPath(rowData)}}
              </div>
          </td>
          <td *ngIf="selectService.userSession.isAdmin()">{{rowData.selectUid}}</td>
          <td class="right-align">{{rowData.selectDate | date:'medium' }}</td>
          <td>
            <div *ngIf="rowData.selected > 0" class="right-align">
              <mark title="{{rowData.selectUid}} - {{rowData.selectDate | date:'medium'}}" class="select-mark">
                {{rowData.selected | vormerk }}
                <button class="btn btn-link text-success iconbtn"
                        (click)="selectService.execVormerk(rowData)"
                        title="Vormerkung sofort ausführen">
                  <i class="fa fa-play"></i>
                </button>
                <button class="btn btn-link text-danger iconbtn"
                        (click)="selectService.undoSelectionFor(rowData)"
                        title="Vormerkung entfernen">
                  <i class="fa fa-times"></i>
                </button>
              </mark>
            </div>
          </td>
        </tr>
      </ng-template>
      <!--<ng-template pTemplate="summary">-->
      <!--</ng-template>-->
    </p-table>

    <p-table *ngIf="!selectService.tablestat"
             [value]="selectService.resultlist"
             [scrollable]="true"
             scrollHeight="100%"
             [(selection)]="selectService.resultFiles"
             [rowTrackBy]="selectService.rowTrackByResult"
             dataKey="_id"
             [customSort]="true"
             (sortFunction)="selectService.sortResult($event)"
             [sortField]="selectService.sortResultField"
             [sortOrder]="selectService.sortResultOrder"
    >
             <!--[loading]="selectService.loading"-->

      <!--<ng-template pTemplate="caption">-->
      <!--</ng-template>-->
      <ng-template pTemplate="emptymessage">
        Keine Dateien gefunden.
      </ng-template>
      <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
          <col style="width: 160px">  <!-- selected -->
          <col> <!-- path.join + label -->
          <col *ngIf="selectService.userSession.isAdmin()" style="width: 170px">  <!-- uid  -->
          <col style="width: 170px">  <!-- select-time -->
          <col style="width: 170px">  <!-- process-time -->
          <col style="width: 80px">  <!-- success -->
          <col style="width: 60px">  <!-- log -->
          <col style="width: 60px">  <!-- del btn -->
        </colgroup>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th [pSortableColumn]="'selected'">
            Vormerkung
            <p-sortIcon [field]="'selected'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'label'">
            Name
            <p-sortIcon [field]="'label'"></p-sortIcon>
          </th>
          <th *ngIf="selectService.userSession.isAdmin()" [pSortableColumn]="'selectUid'">
            Vorgemerkt von
            <p-sortIcon [field]="'selectUid'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'selectDate'" class="right-align">
            Auswahl-Datum
            <p-sortIcon [field]="'selectDate'"></p-sortIcon>
          </th>
          <th [pSortableColumn]="'processDate'" class="right-align">
            Ausführung
            <p-sortIcon [field]="'processDate'"></p-sortIcon>
          </th>
          <th>
            Ergebnis
          </th>
          <th>
            LOG
          </th>
          <th class="right-align">
            <button type="button" pButton (click)="selectService.deleteAllResults()" icon="fa fa-trash" class="minibtn ml-2 ui-button-warning"
                    title="Alle angezeigten Vormerkungen löschen" ></button>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
        <tr [pSelectableRow]="rowData">
          <td>
            {{rowData.selected | vormerk }}
          </td>
          <td title="{{selectService.fullPath(rowData)}}">
            {{selectService.fullPath(rowData)}}
          </td>
          <td *ngIf="selectService.userSession.isAdmin()" >
            {{rowData.selectUid}}
          </td>
          <td class="right-align">
            {{rowData.selectDate | date:'medium' }}
            <!--{{rowData.selectDate | date:'dd.MM.yyyy HH:mm:ss' }}-->
          </td>
          <td class="right-align">
            {{rowData.processDate | date:'medium' }}
          </td>
          <td [class.text-success]="rowData.success" [class.text-danger]="!rowData.success">
            {{selectService.success(rowData.success)}}
          </td>
          <td>
            <button type="button" pButton (click)="selectService.showLog($event, rowData, log)" icon="fa fa-file-text-o" class="minibtn ml-2"
                    title="Protokoll anzeigen" ></button>
          </td>
          <td>
            <button type="button" pButton (click)="selectService.deleteResult(rowData)" icon="fa fa-trash" class="minibtn ml-2 ui-button-warning"
                    title="Erledigte Vormerkung löschen" ></button>
          </td>
        </tr>
      </ng-template>
      <!--<ng-template pTemplate="summary">-->
      <!--</ng-template>-->
    </p-table>

  </div>
</div>

<div class="filelist-status small bg-light200">
  <div class="sum-line full-sum"> {{farcService.files | filesSum:"all"}} </div>
  <div class="sum-line ui-state-highlight select-sum" *ngIf="farcService.selectedFiles.length" > {{farcService.selectedFiles | filesSum:"sum" }} ausgewählt </div>
  <mark *ngIf="farcService.isVormerk()" class="sum-line todo-sum"> {{farcService.vormerkList() | filesSum:"sum"}} vorgemerkt </mark>
</div>

<p-confirmDialog header="Löschen" icon="fa fa-question-circle"
                 acceptLabel="OK" rejectLabel="Abbrechen" ></p-confirmDialog>

<p-overlayPanel #log
                [showCloseIcon]="true"
                [dismissable]="true"
                 >
  <pre>{{selectService.logContent}}</pre>
</p-overlayPanel>
