.panel-left {
  white-space: nowrap;
  font-weight: bold;
}
.panel-center {
  width: 100%;
}
.panel-right {
  width: 100%;
  white-space: nowrap;
}

:host ::ng-deep .ui-panel-content-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:host ::ng-deep .ui-panel-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

:host ::ng-deep .ui-panel-content.ui-widget-content p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}
:host ::ng-deep .ui-panel-content.ui-widget-content li {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
}

:host ::ng-deep .ui-tabmenu {
  float: right;
}
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  font-size: .8em;
  background-color: var(--info);
}
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text,
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
  color: white;
}
