.help-panel {
  background-color: var(--info);
  text-align: -webkit-center;
}
:host ::ng-deep .ui-panel {
  max-width: 1100px;
  text-align: justify;
}

/* header */
:host ::ng-deep .ui-panel .ui-panel-titlebar {
  border: 0;
}
.panel-left {
  white-space: nowrap;
  font-weight: bold;
  color: var(--light-gray-background);
}
.panel-center {
  width: 100%;
}
.panel-right {
  width: 100%;
  white-space: nowrap;
}

:host ::ng-deep .ui-panel-content-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

:host ::ng-deep .ui-panel-content {
  height: 100%;
  width: 100%;
  overflow: auto;
}

:host ::ng-deep .ui-panel-content.ui-widget-content p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
}
:host ::ng-deep .ui-panel-content.ui-widget-content li {
  margin-top: 0;
  margin-bottom: .5rem;
  font-size: 1rem;
}

:host ::ng-deep .ui-tabmenu {
  float: right;
}
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  font-size: .8em;
  background-color: var(--gray);
}
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-text,
:host ::ng-deep .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link .ui-menuitem-icon {
  color: white;
}

:host ::ng-deep .ui-panel .ui-panel-titlebar {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--info);
}
