<p-dataTable [value]="eplist"
             scrollable="true" scrollHeight="100%">

  <p-column field="path" header="Endpunkt">
  </p-column>

  <p-column [style]="{'width':'400px'}" field="oe" header="OE">
  </p-column>

  <p-column [style]="{'width':'48px'}">
    <ng-template pTemplate="header">
      <button type="button" pButton (click)="filterList()" icon="fa-filter" class="minibtn"
              title="{{isFiltered ? 'Alle EPs anzeigen' : 'Nur EPs ohne OE anzeigen'}}"></button>
    </ng-template>
    <ng-template let-ep="rowData" pTemplate="body">
      <button type="button" pButton (click)="editEp(ep)" icon="fa-edit" class="minibtn"
              title="OE Bearbeiten"></button>
    </ng-template>
  </p-column>

</p-dataTable>

<p-dialog header="OE für Endpunkt festlegen" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true">

  <div *ngIf="editData">
    <div class="row">
      <div class="col-md-12"><label style="white-space: nowrap; margin-bottom: 24px;">
        {{editData.path}}
      </label></div>
    </div>
    <div class="row">
      <div class="col-md-2"><label for="oe">OE</label></div>
      <div class="col-md-10">
        <p-dropdown [options]="oelist" [(ngModel)]="editOe" id="oe"
                    [autoWidth]="false" [appendTo]="'body'"></p-dropdown>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="dlgSave()" label="Speichern"></button>
    </div>
  </p-footer>

</p-dialog>
