<p-dataTable [value]="drives"
             scrollable="true" scrollHeight="100%">
  <!--<header>-->
  <!--Single Selection-->
  <!--</header>-->
  <!--<p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>-->
  <p-column [style]="{'width':'100px'}" field="type" header="Typ">
    <ng-template pTemplate let-col let-row="rowData">
      {{row[col.field] | drivetype}}
    </ng-template>
  </p-column>
  <p-column [style]="{'width':'100px'}" field="displayname" header="Name">
  </p-column>
  <p-column field="sourcepath" header="Pfad">
  </p-column>
  <p-column field="archivepath" header="Pfad Archiv">
  </p-column>
  <p-column [style]="{'width':'80px'}">
    <ng-template pTemplate="header">
      <button type="button" pButton (click)="newDrive()" icon="fa-file-o" class="minibtn"
              title="Neues Laufwerk"></button>
    </ng-template>
    <ng-template let-drv="rowData" pTemplate="body">
      <button type="button" pButton (click)="editDrive(drv)" icon="fa-edit" class="minibtn"
              title="Bearbeiten"></button>
      <button type="button" pButton (click)="deleteDrive(drv)" icon="fa-trash" class="minibtn"
              title="Löschen"></button>
    </ng-template>
  </p-column>
</p-dataTable>

<p-dialog header="Laufwerk" [(visible)]="displayDialog"
          [responsive]="true" showEffect="fade" [modal]="true">
  <div *ngIf="editdata">
    <div class="row">
      <div class="col-md-4"><label for="dname">Name</label></div>
      <div class="col-md-8">
        <input pInputText id="dname" [(ngModel)]="editdata.displayname" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label for="source">Pfad</label></div>
      <div class="col-md-8">
        <input pInputText id="source" [(ngModel)]="editdata.sourcepath" style="width: 20em"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label for="arc">Pfad Archiv</label></div>
      <div class="col-md-8">
        <input pInputText id="arc" [(ngModel)]="editdata.archivepath" style="width: 20em"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4"><label for="type">Typ</label></div>
      <div class="col-md-8">
        <p-dropdown [options]="types" [(ngModel)]="editdata.type" id="type"
                    [autoWidth]="false" [appendTo]="'body'"></p-dropdown>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton icon="fa-check" (click)="dlgSave()" label="Speichern"></button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog header="Löschen" icon="fa fa-question-circle"
                 acceptLabel="OK" rejectLabel="Abbrechen" ></p-confirmDialog>
