<!-- damit das overlay aus der Flexbox "ausbrechen" kann muss es mit position: fixed formatiert werden-->
<p-overlayPanel #statusline
                [appendTo]="body"
                [showCloseIcon]="false"
                id="messagepanel"
                (click)="statusline.hide()">
  <div *ngFor="let line of lines"
       [ngClass]="messageClass(line.type)">
    {{line.date | iedate}} {{line.text}}
  </div>
</p-overlayPanel>
<div (click)="statusline.toggle($event, overlayAnchor)"
     class="statusmessage farc-panel"
     [ngClass]="latestClass()">
  {{latestText()}}
</div>
<!-- overlay soll angezeigte Zeile ueberdecken, also unterhalb verankern -->
<p class="overlay-anchor" #overlayAnchor></p>
