<!-- damit das overlay aus der Flexbox "ausbrechen" kann muss es mit position: fixed formatiert werden
     (position:absolute setzt im Chrome bottom=-1 => scrollbar)
     style muss global gesetzt werden, weil das Panel am "body" haengt -> [styleClass] -->
<p-overlayPanel #statusline
                [appendTo]="'body'"
                [showCloseIcon]="false"
                id="messagepanel"
                (click)="statusline.hide()"
                [styleClass]="'status-overlay'">
  <div *ngFor="let line of lines"
       [ngClass]="messageClass(line.type)">
    {{line.date | iedate}} {{line.text}}
  </div>
</p-overlayPanel>
<div (click)="statusline.toggle($event, overlayAnchor)"
     class="statusmessage farc-panel"
     [ngClass]="latestClass()">
  {{latestText()}}
</div>
<!-- overlay soll angezeigte Zeile ueberdecken, also unterhalb verankern -->
<p class="overlay-anchor" #overlayAnchor></p>
