.header {
  height: 43px;  /* bootstrap pills 52.5 */
  min-height: 43px;
}

.footer {
  height: 22px;
  min-height: 22px;
}
.foot-center {
  width: 100%;
  background: var(--lighter-gray-background);
}
.foot-right {
  padding-right: 10px;
  white-space: nowrap;
  background: var(--lighter-gray-background);
}
.foot-link {
  font-size: .8em;
  padding: 0;
}
