/* var's */
:root {
  --link-color:  #007ad9;
  --link-hover-color: #013358;
  --highlight-color: #007ad9;  /* -> primeNG highlight (nova theme)*/
  --panel-border-color: #cdcdcd;
  --gray-background: #cbcbcb;
  --light-gray-background: #e4e4e4;
  --lighter-gray-background: #f4f4f4;

  --listheader-background: #5f4f5f;
  --treeheader-background: #2f4f6f;
  --vormheader-background: #4f5f4f;

  --original-color: #34a835;
  --archive-color: #bd2834; /*#e91224;*/

  --file-icon-color: goldenrod;
  --folder-icon-color: gold;
}

/* chrome std-focus stoert */
:focus {
  outline: none;
}

/* panel mit Rahmen */
.farc-panel {
  /* von bootstrap panel, panel-default uebernommen */
  border: 1px solid var(--panel-border-color);
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

/* Bootstrap:                                */
/* fuer links und buttons sehen die focus-Rahmen bescheiden aus */
a:focus,
button:focus {
  outline: 0 !important;
  box-shadow: none !important;;
  -webkit-appearance: none !important;
}
/* table */
/* simuliert bootstrap .table .table-striped */
/*tbody>tr:nth-of-type(even) {*/
  /*background-color: var(--light) ;*/
/*}*/
/*.ui-table .ui-table-tbody>tr>td,*/
/*.ui-table .ui-table-thead>tr>th,*/
/*.ui-table .ui-table-tfoot>tr>td {*/
  /*border-top: 1px solid #ddd; !* $gray-400 *!*/
  /*border-bottom: 0;*/
  /*border-left: 0;*/
  /*border-right: 0;*/
/*}*/

/* file/dir-Icons farblich hervorheben */
.ui-table-scrollable-body .fa-file,
.ui-table-scrollable-body .fa-folder-open {
  color: var(--folder-icon-color);
}
.ui-table-scrollable-body .fa-file-o {
  color: var(--file-icon-color);
}

/* cancel button f. search field */
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* flex layout */

/* Komplette Seite belegen */
.flex-page, farc-root {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* children vertikal anordnen */
.flex-col, farc-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: auto;
  height: 100%;
  width: 100%;
}

/* children horizontal anordnen */
.flex-row {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex: auto;
  height: 100%;
  width: 100%;
}

/* Element innerhalb flex-col oder flex-row */
/* position:relative ist wichtig, damit auch der gesamte Platz belegt wird.
   Breite bzw. Hoehe immer mit height & min-height bzw. width & min-width auf den
   gleichen Wert setzen (ausser % -> min-width:100px; width:100%).
 */
.flex-panel {
  overflow: hidden;
  position: relative;
}

/* flex-panel, das den "Rest" belegt (width|height 100%) */
/* Sonst fkt. Splitter nicht */
.flex-max {
  flex-grow: 100;
  flex-shrink: 100;
}

/* Inhalt eines flex-panel mit Scrollbalken */
.flex-content {
  height: 100%;
  width: 100%;
  overflow: auto;
  display: block;
}

/* Inhalt eines flex-panel ohne Scrollbalken */
.flex-content-fix {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fullsize {
  height: 100%;
  width: 100%;
}

/*  primeNG styles  */

body {
  line-height: 1.4 !important;
}

/* Tree verdichten */
body .ui-tree .ui-treenode,
body .ui-tree .ui-tree-container .ui-treenode,
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* Prime-Icons etwas kleiner (default 1,25) */
body .pi {
  font-size: 1.125em !important;
}

/* Tabellen-Zellen nie umbrechen -> tooltip f. lange Texte */
body .ui-table .ui-table-tbody > tr > td,
body .ui-table .ui-table-tbody > tr > td > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* kleiner pButton */
.minibtn {
  font-size: .8em !important;
}

/* fa-icon als Button */
.iconbtn {
  padding: 0 1px 0 5px;
  vertical-align: baseline;
  border: none;
}

.right-align {
  text-align: right;
}
.center-align {
  text-align: center;
}

.link {
  color: var(--link-color);  /* link color -> theme */
}
.link:hover {
  color: var(--link-hover-color);
}

/* Abstand fuer Screenshots */
.screenshot {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* f. Hilfetexte: Button, die nichts bewirken */
.pseudo-button {
  pointer-events: none;
}
