<div class="flex-row" style="background: purple">
  <div class="flex-panel" [style.width]="leftPaneWidth" [style.min-width]="leftPaneMinWidth"
       style="background: green">
    <p-tree [value]="tree">
      <ng-template let-node pTemplate="default">
        <span style="color: red" >{{node.label}}</span>
      </ng-template>
      <ng-template let-node pTemplate="ep">
        <span >{{node.label}} *EP*</span>
      </ng-template>
    </p-tree>
  </div>
  <div fb-splitter ></div>
  <div class="flex-panel flex-max" [style.width]="centerPaneWidth" [style.min-width]="centerPaneMinWidth"
       style="background: red">
    <div class="flex-content">{{centerText}}</div>
  </div>
</div>
