
/* tree an container anpassen */
:host >>> .ui-tree {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.sort-bar {
  background-color: var(--listheader-background);
  color: var(--light);
  width: 100%;
}
.sort-title {
  font-size: x-large;
  float: left;
  padding: 8px 18px;
}
.sort-sum {
  float: left;
  margin-left: 60px;
  padding: 16px 18px;
}
.sort-sum-size {
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}
.sort-radio {
  float: right;
  padding: 18px 18px;
  font-size: 0.8em;
  margin-right: 2em;
}



/* label f. radiobutton nicht bold */
:host >>> label.ui-radiobutton-label {
  font-weight: normal;
}

.radio-margin {
  margin-right: 10px;
}

:host >>> .ui-accordion-header{
  white-space: nowrap;
}
:host >>> .ui-accordion-header a{
  overflow: hidden;
  text-overflow: ellipsis;
}
:host >>> .ui-accordion-header .btn{
  display: contents;
}
:host >>> .ui-accordion-content .btn{
  overflow: hidden;
  text-overflow: ellipsis;
  display: inherit;
  text-align: left;
}
.label {
  display: inline-block;
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
}
.label-size {
  font-weight: bold;
  width: 84px;
  text-align: right;
  /*float: left;*/
  margin-right: 12px;
}

.label-price {
  width: 110px;
  text-align: right;
  margin-right: 12px;
}

.label-oename {
  font-weight: bold;
  /*float: left;*/
  /*text-align: left;*/
  /*width: 550px;*/
}

.label-dirname {
  /*float: left;*/
  /*text-align: left;*/
  /*width: 700px;*/
}

:host ::ng-deep .ui-state-active .label {
  color: var(--light);
}
